@import url('https://fonts.googleapis.com/css?family=Cantarell|Lora');

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

body {
	/* Positioning */

	/* Display & Box Model */

	/* Color */
	background-color: #575373;
	color: #a3a7bf;

	/* Text */
	font-family: 'Lora', serif;
	font-size: 16px;

	/* Other */
}

a {
	color: #fff;
	text-decoration: none;
}

h1 {
	color: #fff;
	font-size: 2.5em;
	font-family: 'Cantarell', sans-serif;
	text-align: center;

}

h2 {
	margin: 1em;
	color: #fff;
	font-size: 2em;
	font-family: 'Cantarell', sans-serif;
	
}

p {
	margin: 2em;
}

img {
	margin: 0em;
}

#slogan {
		text-align: center;
	font-style: italic;
	color: #fff;
}

.panel-2 {
	text-align: right;
	background: black;
}

.panel-4 {
	text-align: right;
	background: black;
}

.Hero-Image {
	width: 100%;
}

.Panel-Image {
	margin: 1em;
}